{
   "rules": {
       "semi":["error", "always"],
       "camelcase":"error",
       "comma-dangle":"off",
       "indent":["error", 2],
       "prefer-const": ["error", {
           "destructuring": "any",
           "ignoreReadBeforeAssign": false
       }]
   },
   "extends": ["node/style-guide"]
}